.football {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field {
  width: 100%;
  border-radius: 10px;
}

.ball {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  /* -webkit-transition: all 0.5s ease; */
}

.ball_clicked {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.5s ease;
}